.chatHold {
    margin-top: 10vh;
    height: 60vh;
    background-color: rgba(128, 128, 128, 0.178);
    box-shadow: 1px 0 10px 3px rgb(139, 24, 111);
    width: 60%;
    border-radius: 10px 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.chatHeader {
    min-height: 5vh;
    position: sticky;
    min-width: 100%;
    font-size: 0.8rem;
    font-weight: bolder;
    color:white; 
    display: flex;
    align-items: center;
    padding-left: 10%;
    font-family:'Courier New', Courier, monospace;
    box-shadow: 0px 1px 2px 1px rgb(131, 7, 100);
}
.liveBlink {
    height: 100%;
    width: 10px;
    display: grid;
    justify-content: center;
    align-items: center;

}

.blink{
    height: 8px;
    width: 8px;
    background-color: rgb(2, 131, 2);
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-name: heart;
    /* border: 1px solid rgb(218, 216, 216); */
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

@keyframes heart {

    0%  {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    } 
    100% {
        opacity: 0%;
    }
}


.chatHeader :nth-child(2) {
    margin-left: 6%;
}

.chatBody {
    overflow: auto;
    height: 350px;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.chatBody::-webkit-scrollbar {
     display: none; /* Chrome */
}

.chatBody .msgShow {
    margin: 4px;

    width: 100%;
}

.chatBody p {
    font-size: 0.8rem;
    font-family:'Courier New', Courier, monospace;
    word-wrap: break-word;
    background-color: rgb(238, 235, 235);
    color: rgb(10, 10, 10);
    padding: 2px 6px;
    max-width: 40%;
    border-radius: 5px 5px;
}

.msgShow #othersMsg {
    display: flex;
    margin: 5px;
    border-radius: 10px 10px;
    justify-content: flex-start;
}

.msgShow #yourMsg {
    display: flex;
    margin: 5px 12px;
    border-radius: 10px 10px;
    justify-content: flex-end;
}

#othersMsg p {
    background-color: rgb(211, 211, 211);
}



.chatFooter {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.164);
    max-height: 7rem;
    width: 100%;
    display: flex;
    align-self: flex-end;
    align-items: center;

}

.chatFooter .inputHold {
    width: 100%;
}

.chatFooter input {
    background-color: transparent;
    height: 1.7rem;
    outline: none;
    padding: 0.2rem 1rem 0 1.3rem;
    width: 100%;
    color: white;
    border: none;
    font-size: 0.8rem;
    font-family:'Courier New', Courier, monospace;
    resize: none;
}

.chatFooter svg {
    height: 1rem;
    width: 1rem;
    transform: rotate(90deg);
    position: absolute;
    color:rgb(233, 232, 232);
    right:4px;
    bottom:4px;
}